@model TourHub.ViewModels.TourFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-8">
        
    </div>
    <div class="col-md-4">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Create", "Tour"))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Place)
                        @Html.TextBoxFor(m => m.Place, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Place)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Cost)
                        @Html.TextBoxFor(m => m.Cost, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Cost)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Date)
                        @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Date)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Time)
                        @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Time)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Genre)
                        @Html.DropDownListFor(m => m.Genre, new SelectList(Model.Genres, "id", "name"), " ", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Genre)
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                }
            </div>
        </div>
    </div>

</div>

