@model IEnumerable<TourHub.Models.Tour>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mine</h2>
<ul class="tevent">
    @foreach (var t in Model)
    {
        <li>
            <div class="media border p-3" id="bcard">
                <div class="date">
                    <div class="month">
                        @t.DateTime.ToString("MMM")
                    </div>
                    <div class="day">
                        @t.DateTime.ToString("d ")
                    </div>
                    <div class="time">
                        @t.DateTime.ToString("HH:mm")

                    </div>
                </div>

                <div class="media-body pl-4">
                    <h4>
                        <small><i>Posted on February 19, 2016 <span class="badge badge-pill badge-success">@t.Genre.Name</span></i></small>
                    </h4>
                    <div class="actions">
                        <a href="@Url.Action("Edit", "Tour", new { id = t.Id})">Edit</a>
                        <a href="#" class="js-cancel-tour" data-gig-id="@t.Id">Cancel</a>
                    </div>
                    <i class="fa fa-map-marker"></i> @t.Place <br />
                    <i class="fa fa-dollar-sign"></i> Cost: @t.Cost <br />
                    <i class="fa fa-spinner"></i> Total Seats: @t.TotalSeat <br />
                    <i class="fa fa-users"></i> persons are going
                    <h5><span class="badge badge-pill badge-warning">Seats left: </span></h5>
                </div>
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-tour").click(function (e) {
                var link = $(e.target);

                bootbox.confirm({
                    message: "Do you want to delete this tour event?",
                    buttons: {
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        },
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        }

                    },
                    callback: function (result) {
                        if (result) {
                        $.ajax({
                        url: "/api/tour/" + link.attr("data-gig-id"),
                        method: "DELETE"
                        })
                        .done(function () {
                            link.parents("li").fadeOut(function () {
                                $(this).remove();
                            })
                        })
                        .fail(function () {
                            alert("Something failled");
                        })
                        }
                    }
                });

                });

            });
      
    </script>
}
