@model IEnumerable<TourHub.Models.Tour>
@{
    ViewBag.Title = "Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Feed</h2>
<ul class="tevent">
    @foreach (var t in Model)
    {
    <li>
        <div class="media border p-3" id="bcard">
            <div class="date">
                <div class="month">
                    @t.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @t.DateTime.ToString("d ")
                </div>
                <div class="time">
                    @t.DateTime.ToString("HH:mm")
                </div>
            </div>

            <div class="media-body pl-4">
                <h4>@t.Traveller.Name <small><i>Posted on February 19, 2016</i></small></h4>
                <i class="fa fa-map-marker"></i> @t.Place
                @*<span class="place">
            @t.Place
        </span>
        <span class="cost">
            @t.Cost
        </span>
        <span class="genre">
            @t.Genre.Name
        </span>*@

            </div>
        </div>
    </li>
    }
</ul>

