@model TourHub.ViewModels.FeedViewModel
@{
    ViewBag.Title = "Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><h2>@Model.Heading</h2>
@using (Html.BeginForm("Search", "Tour"))
{
    <div class="form-group">
        <div class="input-group">
            @Html.TextBoxFor(l => l.SearchTerm, new { @class = "form-control", placeholder = "Search by Traveller Name, Place, Genre" })
            <span class="input-group-text">
                <i class="fa fa-search"></i>
            </span>
        </div>
        
    </div>
    @*<input type="submit" value="Search"/>*@
}
<ul class="tevent">
    @foreach (var t in Model.UpcommingTours)
    {
    <li>
        <div class="media border p-3" id="bcard">
            <div class="date">
                <div class="month">
                    @t.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @t.DateTime.ToString("d ")
                </div>
                <div class="time">
                    @t.DateTime.ToString("HH:mm")
                    
                </div>
            </div>

            <div class="media-body pl-4">
                <h4>
                    <a href="@Url.Action("Details", "Tour", new { id = t.Id })">@t.Traveller.Name</a>
                    
                    @if (Model.ShowActions)
    {
                        <button data-user-id="@t.TravellerID" class="btn btn-link btn-sm border-left border-right js-toggle-following">Follow</button>
    }
                    @if (t.IsCanceled)
    {
                        <span class="badge badge-pill badge-danger">Cancelled</span>
    }
                    <small><i>Posted on February 19, 2016 <span class="badge badge-pill badge-success">@t.Genre.Name</span></i></small>
                </h4>
                <i class="fa fa-map-marker"></i> @t.Place <br />
                <i class="fa fa-dollar-sign"></i> Cost: @t.Cost <br />
                <i class="fa fa-spinner"></i> Total Seats: @t.TotalSeat <br />
                <i class="fa fa-users"></i> persons are going
                <h5><span class="badge badge-pill badge-warning">Seats left: </span></h5>
                @if (Model.ShowActions && !t.IsCanceled)
                {
                    <button 
                            data-tour-id="@t.Id" 
                            class="btn @(Model.Attendences.Contains(t.Id) ? "btn-info" : "btn-default") btn-sm pull-right js-toggle-attendence">Going ?</button>
    }

            </div>
        </div>
    </li>
        }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendence").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendences", {tourId: button.attr("data-tour-id") })
                    .done(function () {
                        button
                            .removeClass("btn-info")
                            .addClass("btn-success")
                            .text("Going")
                    })
                    .fail(function () {
                        alert("Something failled!");
                    });
            });
            $(".js-toggle-following").click(function (e) {
                var buttonbutton = $(e.target);
                $.post("/api/followings", {followeeId: buttonbutton.attr("data-user-id") }) // check attribute properly
                    .done(function () {
                        buttonbutton.text("Following");
                    })
                    .fail(function () {
                        alert("Something Happened");
                    });
            });
        });

    </script>
}
